h1 {
  color: aqua;
}
textarea {
  resize: none;
  width:300px;
  height:200px;
  font-family: "Arial";
}

input {
  width: 250px;
}

.a_button {
  padding: 0;

}

a {
  text-decoration:none;
  display: block;
  height: 100%;
  padding: 0 5px;
  color: black;
}

a:visited {
  color:black;
}

div {
  padding-bottom: 10px;
}

.display-none {
  display: none;
  color: black;
}

@media screen and (max-width:767px) {
  textarea {
    width: 95%;
    height:200px;
    font-family: "Arial";
    font-size: 120%;
  }
  input {
    width: 75%;
    height: 25px;
    font-size: 110%;
  }
  div {
    padding-bottom: 20px;
  }
  button {
    height: 30px;
  }
  a {
    height: 75%;
  }
}  